extends layout

block content
  div(class='container')
    h1 Error Message
    h2= message
    h3= error.status
    div(class="row topspace2")
      div(class="col-md-6") Error stack: #{error.stack}
    div(class="row topspace2")
      div(class="col-md-6") <a href="/">Back to Request Form</a>
