doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Get Photo Metadata
    meta(name='author' content='NewsIT-M.W.Steidl')
    meta(name='keywords' content='photo, metadata, IPTC, XMP, Exif')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style_wbs.css')
  body
    div(class='container')
      h5(style='color:#cc6600;') This site is in a development/test state

    block content

    footer(class='footer topspace2')
      div(class='container')
        div(class="row")
          div(class="col-md-6") Retrieval of embedded metadata by Phil Harvey's&nbsp;
            a(href='http://owl.phy.queensu.ca/~phil/exiftool/', target='_blank') ExifTool
        div(class="row")
          div(class="col-md-6") This is a free service by&nbsp;
            a(href='http://www.newsit.biz', target='_blank') NewsIT-M.W.Steidl
