doctype html
html
  head
    title Get Photo Metadata
    meta(charset='UTF-8')
    meta(name='author' content='NewsIT-M.W.Steidl')
    meta(name='keywords' content='photo, metadata, IPTC, XMP, Exif')

  <!-- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') -->
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2(style='color:#cc3300; ') This is an experimental site
    block content

    footer(class='footer')
      div(class='container')
        p The retrieval of the embedded metadata by Phil Harvey's&nbsp;
          a(href='http://owl.phy.queensu.ca/~phil/exiftool/', target='_blank') ExifTool
        p This is a free service by&nbsp;
          a(href='http://www.newsit.biz', target='_blank') NewsIT-M.W.Steidl
