extends layout_bs

block content
    div(class='container')
        h1 Get IPTC Photo Metadata
        div(class="row")
            div(class="col-md-6") tried to access image: <strong>#{imageTitle}</strong>
        div(class="row")
            div(class="col-md-6 isawarning") #{noImageMessage}
        div(class="row topspace2")
            div(class="col-md-6") <a href="/">Back to Request Form</a>

