
a {
  color: #00B7FF;
}

table.pmd1 th, td {
  padding: 3px;
  text-align: left;
}
.isawarning{
	color: #e60000;
}

.topspace1{
	padding-top: 6px;
}
.topspace2{
	padding-top: 12px;
}
.topspace3{
	padding-top: 18px;
}
.topmarg2{
	margin-top: 12px;
}
.techmdbox{
	border: 1px black solid;
	margin-top: 6px;
	background-color: beige;
	padding: 3px;
	margin-left: 15px;
}

.imgright1 {
	float: right;
}
.table-curved {
	border-collapse: separate;
}
.table-curved {
	border: solid #ccc 1px;
	border-radius: 6px;
	border-left:0px;
}
.table-curved td, .table-curved th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.table-curved th {
	border-top: none;
}
.table-curved th:first-child {
	border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
	border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
	border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
}
.getpmdtop1{
	background: #faebcc;
}
#getpmdForm {
	background:#F5EE8D;
	padding: 5px;
}
#uploadForm{
	background:#8DBEF8;
	padding: 5px;
}
#checkpageForm {
	background:#ccff99;
	padding: 5px;
}
.checkpagebox1 {
	background:#ccff99;
	padding: 5px;
}
.submitbtn {
	padding-left: 23px;
	padding-top: 7px;
	padding-bottom: 3px;
}
#info1{
	background:#EFEFEF;
	padding: 5px;
}
.prelist{
	margin-bottom: 2px;
}
.list1{
	margin-top: 3px;
}